.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 100vh; 
    box-sizing: border-box;

}

.form {
&__group {
    margin-bottom: $input-margin-bottom;
}

&__input {
    width: $input-width;
    padding: $input-padding;
    box-sizing: border-box; 
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 100vh; 
    box-sizing: border-box;

}

.form {
&__group {
    margin-bottom: $input-margin-bottom;

}

&__input {
    width: $input-width;
    padding: $input-padding;
    box-sizing: border-box; 
    border-radius: 8px;
}

&__button--primary {
    background-color:$button-color;
    color: $color;
    padding: $button-padding;
    width: $input-width;
    box-sizing: border-box;
    border-radius: 8px; 
}

&__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $button-padding;
    width: $input-width;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
}

&__img{
    width: 50px;
    height: 50px;
}
}}

p{
    text-align: center;
}

